# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

npm lock file
package-lock.json

https keys
*.pem

# Local Netlify folder
.netlify

# VSCode folder
.vscode
