// COLORS
$colour-primary: #f7f3e8;
$colour-secondary: #191919;
$colour-primary-auxiliary: #e2d1c2;
$colour-secondary-auxiliary: #101d2cdb;

$shenandoah-blue: #002e62;
$shenandoah-red: #980630;
$css-blue-primary: #3c99dc;
$css-blue-secondary: #66d3fa;
$sass-pink-primary: #cd6799;
$sass-pink-secondary: #e293b9;
$javascript-yellow: #f0db4f;
$vue-green: #42d392;
$vue-purple: #647eff;
$react-blue: #61dbfb;
$typescript-blue: #235a97;
$webpack-blue: #1d78c1;

$grey-dark: #3f4954;
$grey-light: #e3e7f7;
$whitish: #f0f0f0;
// END COLORS
